<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-background-fixed"
     data-src="assets/background/main.png" uk-img>
  <h1>Truth to power</h1>
</div>

<div class="uk-container uk-container-large">
  <hr class="uk-divider-icon top-divider">
  <app-top-petitions></app-top-petitions>
  <hr class="bottom-divider">

  <div class="create-petition">
    <button class="uk-button uk-button-secondary uk-button-large uk-align-center">Create your own petition</button>
  </div>
</div>

<footer>
  <nav class="uk-navbar uk-background-muted navbar" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo footer-label" href="#">
        KNU FRECS 2021 © PETITION BUREAU
      </a>
    </div>
  </nav>
</footer>


