<nav class="uk-navbar uk-background-muted navbar" uk-navbar="boundary-align: true; align: center;">
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo navbar-logo" [routerLink]="'/dashboard'">
      <div class="navbar-icon">
        <img height="35" width="35" src="assets/svg/pictures-geometry-svgrepo-com.svg" uk-svg>
      </div>
      Petition Bureau
    </a>
  </div>

  <div class="uk-navbar-right uk-margin-small-right">
    <app-navbar-navigation></app-navbar-navigation>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

